<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <caching enableKernelCache="false" />
    </system.webServer>
    <system.web>
        <pages buffer="false" enableSessionState="true" enableViewState="true" />
    </system.web>
</configuration>
